<!doctype html>
{% load static %}
{% load rest_framework %}
<html>
<head>
    <meta charset="utf-8">
    <title>All the scheduled events to signUp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/event.css' %}">

<style>
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>
<body>
<div align="center" style="background-color:lightblue">
    <h1>Scheduled Events</h1>
</div>
<p>
    <h3>All events - Times are shown in JST</h3>
<table>
    <tr>
        <th>Event Name</th>
        <th>Event Location</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Details</th>
     </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.start_time }}</td>
        <td>{{ event.end_time }}</td>
        <td>{{ event.description }}</td>
     </tr>
    {% endfor %}
</table>
<p></p>
<div style="text-align:center;width:100%">
<!--    <form action="{ url '/contact/' %}" method="POST">-->
  <form action="" method="GET">
    <p><a href ="http://127.0.0.1:8000/signUpEvent/">
        <span>
        <input type="button" value = "SignUp" />
      </span>
    </a>
    </p>
  </form>
</div>
</body></html>